@model ZMDH_WebApp.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijder</h1>

<h3>Weet je het zeker dat je deze wilt verwijderen?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardianId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardianId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedagoogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedagoogId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moderator.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfHelpGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfHelpGroup.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar lijst</a>
    </form>
</div>
